@charset "utf-8";

/* article */

article{
    display: flex;
    position: absolute;
    padding: 10px;
    width: 100%;
    /* gap: 0px 20px; */
    flex-wrap: wrap;
    justify-content: space-between;
    transform: translateY(-80px);
}

article nav{
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.btn-back{
    cursor: pointer;
    background: url(../imagens/back.png) no-repeat center center;
    background-size: contain;
    border: 0px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    transition: transform 1s;
}

article nav h2{
    min-height: 44px;
    color: white;
}

article nav div{
    min-width: max-content;
}

article nav button{
    background-color: transparent;
    cursor: pointer;
    border: 0px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    transition: transform 1s;
}


article nav button:hover{
    transform: scale(1.1);
}

/* Cards */

.card-part {
    cursor: pointer;
}
.card{
    border-radius: 10px;
    display: flex;
    width: 100%;
    min-width: max-content;
    flex: auto;
    border: 5px solid gray;
    justify-content: space-between;
    transition: transform 1s;
    margin-bottom: 10px;
}

.card-person, .card-botoes {
    display: flex;
    width: 100%;
}

.card-person {
    display: flex;
    align-items: center;
}

.card-person h2{
    font-size: 1em;
}

.card-person p{
    font-size: 1em;
}

.card-person p:nth-child(3){
    font-size: 1em;
}

.card-botoes{
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid gray;
}

.card-botoes img{
    width: 100%;
}
.card-botoes button {
    cursor: pointer;
    width: 100%;
    border: 0px solid;
    /* background-color: transparent; */
    opacity: 0.8;
}
.btn-back{
    background: url(/Site-BandaSantaCecilia/imagens/back.png) no-repeat center center;
    background-size: contain;
}
.btn-add {
    background: url(/Site-BandaSantaCecilia/imagens/add.png) no-repeat center center;
    background-size: contain;
}

.btn-edit {
    background: url(/Site-BandaSantaCecilia/imagens/edit.png) no-repeat center center;
    background-size: contain;
}
.card .btn-edit{
    background: url(/Site-BandaSantaCecilia/imagens/edit.png) no-repeat center center;
    background-size: contain;
    background-color: green;

}

.card .btn-del, .btn-del{
    background: url(/Site-BandaSantaCecilia/imagens/delete.png) no-repeat center center;
    background-size: contain;
    background-color: red;

}



.card-botoes button:hover{
    opacity: 1;
}
.card:hover{
    transform: scale(1.01);
}

/* @media screen and (min-width:1110px) {
    .card:last-child{

        max-width: 50%;
        flex: auto;
    }
    
} */

@media screen and (min-width:850px) {
    .card{
        max-width: 49%;
    }
}
/* @media screen and (min-width:950px) {
    .card{
        max-width: 33%;
    }
} */