@charset "utf-8";

/* article */

article{
    position: absolute;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    transform: translateY(-90px);
}

article div{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0px 10px;
    background-color: white;
    width: 200px;
    min-height: 130px;
    border: 5px solid gray;
    transition: transform 1s;
}

article div:hover{
    transform: translatey(-5px) scale(1.1);
}
article div h2{
    width: 100%;
}
article div p{
    font-size: 1.8em;
}

article div p:nth-child(4){
    width: 100%;
    font-size: 0.8em;
    font-weight: 500;
}

article div img{
    border-radius: 30%;

    width: 50px;
}